#searchbox
  form( method="get", action="/" )
    p.suggest Search in Korean or English
    input(type="text", name="q", id="search", class="search", value=q || '')
    input(type="submit", class="search-button", value='O')

  div.light
    p#detect Language: Unknown

