.row
  .span16
    ul.tabs
      li.active
        a(href='#') Basic

    #searchbox
      form( method="get", action="/" )
        input(type="text", name="q", id="search", class="search", value=q || '')
        input(type="submit", class="search-button", value='O')
    
      div.light
        p#detect Language: Unknown
    
