.row
  .span16
    ul.segmented-control
        li#auto
            a(href='#auto') Auto
        li#english
            a(href='#') English
        li#korean
            a(href='#') Korean
        li#hanja
            a(href='#') Hanja
        li#phonetic
            a(href='#') Phonetic

    #searchbox
      form( method="get", action="/" )
        input(type="text", name="q", id="search", class="search", value=q || '')
        input(type="submit", class="search-button", value='O')
    
      div.light
        p#detect Language: Unknown
    
