form( method="get", action="/" )
  p
    input(type="text", name="q", id="search", class="search inactive", value="Search in Korean or English")
    input(type="submit", class="search", value="&rarr;")

