h1.fontface= title

h2 Roadmap

ul.checklist
  li Adding new dictionary entries
  li Editing existing entries
  li Fuzzy search
  li Creating browser dictionary extension
  li Creating developer API



h2 Thanks

p KDict would not be possible without the help of:

h3 Joseph Speigle

p Provided the first set of data from 
  a(href="http://ezcorean.com/") ezcorean
  , his own personal database of translation data, which he hand-crafted over many years. Without this data KDict could not have started.



h2 Technology

p KDict uses the following technology

ul
  li Node.js - Express
  li MongoDB
