h1.fontface= title

p KDict is designed to be an community-based dictionary. Anyone is free to improve the dictionary by adding new definitions or modifying existing ones.

p If you are learning Korean, adding example sentence to entries when you look them up is a great way to remember new vocabulary.

h2 How?

p:markdown In order to edit the dictionary, first (sign up)[/signup/] and log in to your account. From there you are able to edit dictionary metadata.




