// On first page, have HUGE search box
include includes/large-search


.row
  .span-one-third.column
    h2 Welcome to KDict
    p Welcome to KDict, an open-source community-maintained Korean dictionary.
  .span-one-third.column
    h2 Community-driven
    p stuff
    p
      a.btn('/contribute') Contribute
  .span-one-third.column
    h2 Open-source
    p The entire KDict database is available to download and use freely in any project.
    p
      a.btn('/download') View Data

.row
  .span-one-third.column
    h2 Top Contributors
    table
      thead
        tr
          td Username
          td New Entries
          td Edits
      tbody
        tr
          td benhumphreys
          td 42
          td 524
        tr
          td joe
          td 154,000
          td 524

  .span-one-third.column
    h2 ??
  
  .span-one-third.column
    h2 ??
