include includes/large-search

p #{results.count} results, Detected language: #{results.language}

- if (results.entries.length > 0)
  != partial('result', results.entries)
- else
  p No results found
