body
    background: #fff
    padding: 0
    margin: 0


#center
    margin 0 auto
    padding 0
    width: 90%

h1.title
    margin 15px 0 0 20px
    padding 0

h1.title a
    text-decoration none
    color #E55900
    

a
    color #E55900
  //color: #00B7FF

h1 a, h2 a, h3 a, h4 a
    text-decoration none

input.active, input:hover
    border: 1px solid #333 !important
    color: #333 !important

input.search
    border 1px solid #ddd
    color: #999
    font-size 3em
    padding 4px
    width 100%


p.suggest
    color #999
    font-size 0.7em
    margin 0
    padding 0

li.fontface
    font-family ChunkFiveRegular

h1.fontface
    /*font-family ChunkFiveRegular*/
    font 60px/68px ChunkFiveRegular, Arial, sans-serif
    letter-spacing 0



#menu
    width: 100%
    margin: 0 0 20px 0
    padding: 0
    border-top: 1px solid #aaa
    border-bottom: 1px solid #aaa

    ul
        margin 0
        padding 10px

    ul li
        list-style: none
        display: inline
        margin: 0
        padding: 0

        font-size: 1.2em
        font-weight bold
        /*font-family ChunkFiveRegular*/

        a
            margin: 0 10px 0 0 
            padding: 10px 10px
            text-decoration: none

    ul.right
        float: right

table
    border-collapse: collapse
    thead
        tr
            td
                font-weight: bold
                font-size: 1.1em
                border: 1px solid #555
    tr
        td
            border: 1px solid #aaa
            padding: 2px 4px

.result
    border-top: 1px solid #bbb
    margin: 5px
    padding: 8px

    .korean
        width: 200px

    .definitions
        li
            list-style: none

.result .edit
    float: right
.result .edit p
    color: #999
    padding: 0
    margin: 0
    font-size: 0.7em
    

.result h3
    margin 0
    padding 0


        
