.hero-unit
  h1 Top Users

.page-header
  h1= title


.row
  .span-one-third
    h2 Site features
    p If there's something you really want to see on KDict, who better than you to implement it? Scratching that itch is ever so satisfying.
    p If you're a Node.js developer or web developer wanting to try out some new skills, this might be perfect.

    h6 Ideas
    ul
      li Contribute by submitting patches to GitHub
      li Support for definitions in multiple languages
      li Add internationalization support to KDict's site code

  .span-one-third
    h2 Data cleanup
    p Are you obsessive about formatting, cleanliness?

    h6 Ideas
    ul
      li Write Map-Reduce tasks to run over the database and highlight any anomalies


  .span-one-third
    h2 Korean-language tools
    p

    h6 Ideas
    ul
      li A Korean-language version of Rikaichan
      li Desktop dictionary software like JEDict
      li Smartphone dictionary apps

.row
  .span-one-third
    h2 Natural Language Processing
    p If you have knowledge of natural language processing, why not have fun with a small project and help out KDict in the process?
    h6 Ideas
    ul
      li Verb stemmer - Take conjugated form "할 수 있어요" and return verb stem "하다"
      li Evaluate dictionary quality by comparing coverage against a large corpus
      li Find unknown words in corpora and add them to the dictionary


