body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
#center {
  margin: 0 auto;
  padding: 0;
  width: 720px;
}
h1.title {
  margin: 15px 0 0 20px;
  padding: 0;
}
h1.title a {
  text-decoration: none;
  color: #e55900;
}
a {
  color: #e55900;
}
h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
}

#searchbox

input:hover,
input:focus {
  border: 1px solid #888 !important;
  color: #333 !important;
  outline: none;
  background-color: #fff !important;
}

input.search {
  border: 1px solid #ddd;
  border-right: none;
  border-color: #888;
  background: #f5f5f5;
  color: #999;
  font-size: 3em;
  padding: 6px 14px;
  width: 640px;
  margin: 0;
-webkit-border-top-left-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
  
}
input.search-button {
  margin: 0;
  border: 1px solid #ddd;
  border-left: 1px dotted #ddd;
  border-color: #888;
  background: #fff;
  color: #999;
  font-size: 3em;
  padding: 4px 10px;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}

p.suggest {
  color: #999;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}

.fontface {
  font-family: ChunkFiveRegular;
}

h1.fontface {
/*font-family ChunkFiveRegular*/
  font: 60px/68px ChunkFiveRegular, Arial, sans-serif;
  letter-spacing: 0;
}
#menu {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
#menu ul {
  margin: 0;
  padding: 10px;
}
#menu ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
/*font-family ChunkFiveRegular*/
}
#menu ul li a {
  margin: 0 10px 0 0;
  padding: 10px 10px;
  text-decoration: none;
}
#menu ul.right {
  float: right;
}
table {
  border-collapse: collapse;
}
table thead tr td {
  font-weight: bold;
  font-size: 1.1em;
  border: 1px solid #555;
}
table tr td {
  border: 1px solid #aaa;
  padding: 2px 4px;
}
.result {
  border-top: 1px solid #bbb;
  margin: 5px;
  padding: 8px;
}
.result .korean {
  width: 150px;
}

.result .definitions {
    margin: -30px 0 0 100px;
    border-left: 1px dotted #bbb;
}

.result .definitions li {
  list-style: none;
}
.result .edit {
  float: right;
}
.result .edit p {
  color: #999;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
}
.result h3 {
  margin: 0;
  padding: 0;
}

#footer {
    border-top: 1px solid #aaa;
}
#footer ul li {
    display: inline;
    color: #aaa;
}




ul.tabs {
  margin: 0;
  padding: 0;
}
ul.tabs li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
ul.tabs li a {
  margin: 0 -10px 0 0;
  padding: 4px 15px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  background: #f5f5f5;
  color: #999;
/*font-family ChunkFiveRegular*/
  border: 1px solid #999;
  border-bottom: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ul.tabs li a:hover {
    background: #fff;
    z-index: -1;
}
